{%extends 'base.html'%}
<!--{%load static%}-->
{%block content%}
<form action="/post/" method="get", enctype="multipart/form-data">
  {{form.as_p}}
  <button type="submit">Search</button>
</form>
{%for post in posts%}
<div class="card" style="width: 18rem;">
{%if post.image%}
  <img src="{{post.image.url}}" class="card-img-top" alt="...">
  {%else%}
  <img src="" class="card-img-top" alt="...">
  {%endif%}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text" style="color: aqua;">{{post.description}}</p>
    <a href="/posts/{{post.id}}/" class="btn btn-primary">Go to post</a>
  </div>
</div>
{%endfor%}
</div>
{%endblock%}

